In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
600,tt0910970,180000000,521311860,WALLÂ·E,Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...,Andrew Stanton,An adventure beyond the ordinar-E.,WALLÂ·E is the last robot left on an Earth tha...,98,Animation|Family,Walt Disney Pictures|Pixar Animation Studios,6/22/2008,7.6,2008
1832,tt0215129,16000000,119754278,Road Trip,Breckin Meyer|Seann William Scott|Amy Smart|Pa...,Todd Phillips,The greatest college tradition of all.,Four friends take off on an 1800 mile road tri...,93,Comedy|Adventure,DreamWorks SKG|The Montecito Picture Company,5/19/2000,5.7,2000
442,tt1261945,100000000,288347692,Sex and the City 2,Sarah Jessica Parker|Kristin Davis|Cynthia Nix...,Michael Patrick King,Carrie on.,"Carrie, Charlotte, and Miranda are all married...",146,Comedy|Drama|Romance,New Line Cinema|Village Roadshow Pictures|Home...,5/26/2010,5.5,2010
385,tt0980970,155000000,415686217,The Chronicles of Narnia: The Voyage of the Da...,Skandar Keynes|Georgie Henley|Simon Pegg|Gary ...,Michael Apted,Return to magic. Return to hope. Return to Nar...,"This time around Edmund and Lucy Pevensie, alo...",113,Adventure|Family|Fantasy,Dune Entertainment|Fox 2000 Pictures|Walden Media,8/13/2010,6.0,2010
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
def pretty_print(index,title, imdb_id):
    print("{}. {} ({})".format(index,title,imdb_id))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
maxBudget = data.loc[data['budget'] == data['budget'].max()]
index = maxBudget.index[0]
title = maxBudget.original_title.values[0]
imdb_id = maxBudget.imdb_id.values[0]
pretty_print(index, title, imdb_id)

723. Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [8]:
max_runtime = data.loc[data['runtime'] == data['runtime'].max()]
index = max_runtime.index[0]
title = max_runtime.original_title.values[0]
imdb_id = max_runtime.imdb_id.values[0]
pretty_print(index, title, imdb_id)

1157. Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [10]:
min_runtime = data.loc[data['runtime'] == data['runtime'].min()]
index = min_runtime.index[0]
title = min_runtime.original_title.values[0]
imdb_id = min_runtime.imdb_id.values[0]
pretty_print(index, title, imdb_id)

768. Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '109.6585494970884'

In [12]:
mean_runtime = data['runtime'].mean()
display(mean_runtime)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107.0'

In [14]:
median_runtime = data['runtime'].median()
display(median_runtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = '239. Avatar (tt0499549)'

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# создадим копию data
data_c = data.copy()
data_c['profit'] = data_c['revenue']-data_c['budget']
profit = data.loc[data_c['profit'] == data_c['profit'].max()]
index = profit.index[0]
title = profit.original_title.values[0]
imdb_id = profit.imdb_id.values[0]
pretty_print(index, title, imdb_id)

239. Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [18]:
# Используем df data_с из задачи (6)
profit = data.loc[data_c['profit'] == data_c['profit'].min()]
index = profit.index[0]
title = profit.original_title.values[0]
imdb_id = profit.imdb_id.values[0]
pretty_print(index, title, imdb_id)

1245. The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'

In [20]:
revenue_gain = len(data.loc[data['revenue'] > data['budget']])
display(revenue_gain)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [22]:
films_2008 = data_c.loc[data_c['release_year'] == 2008]
max_revenue_2008 = films_2008.loc[data_c.profit == films_2008.profit.max()]
index = max_revenue_2008.index[0]
title = max_revenue_2008.original_title.values[0]
imdb_id = max_revenue_2008.imdb_id.values[0]
pretty_print(index, title, imdb_id)

599. The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [24]:
films_12_14 = data_c.loc[(data_c['release_year'] >= 2012) &
                         (data_c['release_year'] <= 2014)]
min_profit = films_12_14['profit'].min()
max_revenue_12_14 = films_12_14.loc[films_12_14['profit'] == min_profit]
index = max_revenue_12_14.index[0]
title = max_revenue_12_14.original_title.values[0]
imdb_id = max_revenue_12_14.imdb_id.values[0]
pretty_print(index, title, imdb_id)

1245. The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'

In [26]:
genres = pd.Series(data.genres.str.split('|').sum()).value_counts().index[0]
display(genres)

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama'

In [28]:
# жанры по количеству прибыльных фильмов
genres = pd.Series(data_c[data_c['profit'] > 0].genres.str.split('|').sum())
genres_profit = genres.value_counts().index[0]
display(genres_profit)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = 'Peter Jackson'

In [30]:
# Используем 'df' как временную копию data
df = data.copy()
df['director'] = df.director.apply(lambda x: x.split('|'))
df_directors = df.explode('director')
groupped = df_directors.groupby('director')[['director', 'revenue']].sum()
max_revenue = groupped.sort_values('revenue', ascending=False).index[0]
display(max_revenue)

'Peter Jackson'

ВАРИАНТ 2

In [31]:
groupped = data.groupby('director')[['director', 'revenue']].sum()
max_revenue = groupped.sort_values('revenue', ascending=False).index[0]
display(max_revenue)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez'

In [33]:
action_films = data.loc[data['genres'].str.contains('Action')].copy()
action_films['director'] = action_films.director.apply(lambda x: x.split('|'))
action_films_dir = action_films.explode('director')
max_movies = action_films_dir.director.value_counts()
display(max_movies.index[0])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth'

In [35]:
films_2012 = data[data['release_year'] == 2012].copy()
films_2012['cast'] = films_2012.cast.apply(lambda x: x.split('|'))
films_2012_cast = films_2012.explode('cast')
revenue_max = films_2012_cast['revenue'].max()
max_revenue = films_2012_cast[films_2012_cast.revenue == revenue_max]['cast']
display(max_revenue.values[3])

'Chris Hemsworth'

ВАРИАНТ 2

In [36]:
films_2012 = data[data['release_year'] == 2012]
revenue_max = films_2012_cast['revenue'].max()
max_revenue = films_2012[films_2012['revenue'] == revenue_max]['cast']
max_revenue_cast = max_revenue.head(1).values[0].split('|')
display(max_revenue_cast[3])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = 'Matt Damon'

In [38]:
s = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum())
result = s.value_counts().index[0]
print(result)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action'

In [40]:
NC = 'Nicolas Cage'
s = pd.Series(data[data['cast'].str.contains(NC)].genres.str.split('|').sum())
genres = s.value_counts().index[0]
display(genres)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [42]:
company = 'Paramount Pictures'
column = 'production_companies'
paramount_films = data_c[data_c[column].str.contains(company)]
min_profit = paramount_films['profit'].min()
film = paramount_films[paramount_films['profit'] == min_profit].head(1)
index = film.index[0]
title = film.original_title.values[0]
imdb_id = film.imdb_id.values[0]
pretty_print(index, title, imdb_id)

925. K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015'

In [44]:
column = 'release_year'
revenue = data.groupby(column).sum().sort_values('revenue', ascending=False)
revenue.head(1).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014'

In [46]:
wb_films = data_c[data_c['production_companies'].str.contains('Warner Bros')]
wb_sum = wb_films.groupby('release_year').sum()
year = wb_sum.sort_values('profit', ascending=False).head(1).index[0]
display(year)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = 'September'

In [48]:
release_date = data.copy().release_date
data_c['release_month'] = pd.to_datetime(release_date).dt.month_name()
count_by_month = data_c.groupby('release_month')['imdb_id'].count()
month = count_by_month.sort_values().tail(1).index[0]
display(month)

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = 450

In [50]:
rm = 'release_month'
data_cm = data.copy()
data_cm[rm] = pd.to_datetime(release_date).dt.month
summer_condition = (data_cm[rm] == 6) | (data_cm[rm] == 7) | (data_cm[rm] == 8)
summer = data_cm[summer_condition].groupby(rm)['imdb_id'].count()
display(summer.sum())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson'

In [52]:
wnrt_cond = (data_cm[rm] == 12) | (data_cm[rm] == 1) | (data_cm[rm] == 2)
winter = data_cm[wnrt_cond]
director_winter = winter.groupby('director').nunique()
director = director_winter.sort_values('imdb_id', ascending=False).head(1)
display(director.imdb_id.index[0])

'Peter Jackson'

ВАРИАНТ 2

In [53]:
winter_copy = winter.copy()
winter_copy['director'] = winter_copy.director.apply(lambda x: x.split('|'))
winter_director = winter_copy.explode('cast')
max_movies = winter_director.director.value_counts().head(1)
display(max_movies.index[0])

['Peter Jackson']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = 'Twentieth Century Fox Film Corporation|Four By Two Productions'

In [55]:
data_c['title_length'] = data['original_title'].str.len()
prd = data_c.sort_values('title_length').tail(1).production_companies.values[0]
display(prd)

'Twentieth Century Fox Film Corporation|Four By Two Productions'

ВАРИАНТ 2

In [56]:
data_cm['original_title'] = data.original_title.apply(lambda x: len(x))
max_movies = data_cm.sort_values('original_title', ascending=False)
display(max_movies.production_companies.values[0])

'Twentieth Century Fox Film Corporation|Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = 'Midnight Picture Show'

In [58]:
df25 = data.copy()
df25['overview_length'] = data['overview'].str.len()
df25['prod_comp'] = df25.production_companies.apply(lambda x: x.split('|'))
df_production_companies = df25.explode('prod_comp')
mean_tile_length = df_production_companies.groupby('prod_comp').mean()
mean_tile_length_sort = mean_tile_length.sort_values('overview_length').tail(1)
display(mean_tile_length_sort.index[0])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = ('Inside Out, Room, Interstellar, Guardians of the Galaxy, '
                 'The Imitation Game, Gone Girl, The Grand Budapest Hotel, '
                 'Inception, The Dark Knight, The Pianist, '
                 'The Lord of the Rings: The Return of the King, '
                 'The Wolf of Wall Street, 12 Years a Slave, Memento')

In [60]:
quantile = data.quantile(0.99, numeric_only=True)['vote_average']
one_percent = data[data.vote_average > quantile]
titles = one_percent['original_title']
for i, r in titles.items():
    print(r, ', ', sep="", end="")

Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento,

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [62]:
import collections
from itertools import combinations
from collections import Counter
data['cast_arr'] = data['cast'].apply(lambda x: x.split('|'))
data['pairs'] = data['cast_arr'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
display(collections.Counter(data['pairs']).most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Twentieth Century Fox Film Corporation|Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27